@import "tailwindcss";
@import url("https://use.typekit.net/xtz4xmy.css");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --background: #ebebeb;
  --foreground: #171717;
  /* --background: #2b2b2b; */
}

/* #EBEBEB #f9fafd*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-sequel-sans);
  --font-scotch: var(--font-scotch);
}

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-xs: 24.375rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* cursor: none; */
  font-family: var(--font-main), var(--font-scotch);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* link hover animations */
.link-underline-anim {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.link-underline-anim::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--underline-height, 1px);
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease;
}

.link-underline-anim:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* firefox wrong font weight fix */
@-moz-document url-prefix() {
  #content {
    outline: 1px solid #b9bdbe;
    outline-offset: -11px;
  }
}

/* view transition modifications */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
